
body {
   font-family:"Arial Narrow";
 }
  #navigationBar {

   background-image: url("./Images/desert-1748462_1920.jpg");
   box-shadow:0px 1px 10px 10px rgb(255, 255, 255);
   height:auto;
   text-align:left;
   width:100%;
   border-radius: 25px;
   border: 3px solid rgb(46, 65, 208);

 
 }
 #navigationBar > ul > li {
   display:inline;

 }
 #navigationBar > ul > li > a
 {
   color:#fff;
   display:inline-block;
   height:30px;
   line-height:60px;
   margin:0px;
   padding:0px 15px;
   text-decoration:none;
   transition: color 0.3s ease-in;
   animation: slideInLeft; 
   animation-duration: 1s;
   font-style: italic;

}
#navigationBar > ul > li > a:hover {
  color:#001157;
}

